#notify
  %p.notice= notice
  %p.alert= alert
#user-info
  - if login?
    %a{"data-panel" => "main", :href => logout_path, "data-ajax"=>"false"} Sign Out
  - else
    %a{"data-panel" => "main", :href => "/auth/facebook", "data-ajax"=>"false"} FB Sign In (Test)
